<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html           xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core" >

	<h:head>
	</h:head>
	<h:body>
      	 <h:form id="formRoles">
      	 	 <div align="center">
             <h:panelGrid  
                 columns="1" 
                 cellpadding="10px" 
                 style="width:80%; text-align:center;" 
                 columnClasses="centered5" >
               	
                 <p:dataTable
                     id="idroles"
                     value="#{viewRol.columns}"
                     var="column"
                     paginator="true"
                     rows="10"
                     emptyMessage="No se encontraron registros"
                     paginatorPosition="bottom"
                     style="font-size: small"
                     tableStyle="width: 100%"
                     reflow="true">
                     <f:facet name="header">
                         Roles
                     <p:commandButton 
			               id="btnAddRol1" 
			               styleClass="botonpequeno"
			               value="Pendientes por borrar"
			               icon="ui-icon-search"
			               disabled="#{!(viewRol.countBorrar>0)}" 
			               style="display:inline; float:right; font-size:x-small;"
			               oncomplete="PF('rolDialogBorr').show()"/>
					<p:commandButton 
						id="btnAddRol2" 
						styleClass="botonpequeno"
						value="Pendientes por insertar"
						icon="ui-icon-search"
						disabled="#{!(viewRol.countInsertar>0)}" 
						style="display:inline; float:right; font-size:x-small;"
						oncomplete="PF('rolDialogInst').show()"/>
					<p:commandButton 
						id="btnAddRol" 
						styleClass="botonpequeno"
						title="Nuevo Rol"
						icon="ui-icon-plusthick"
						style="display:inline; float:right; font-size:x-small;"
						oncomplete="PF('rolDialogNew').show()"/>
                     </f:facet>

                     <p:column
                         sortBy="#{column.clave}"
                         filterMatchMode="contains"
                         filterBy="#{column.clave}"
                         style="width: 50%; height: auto;">
                         <f:facet name="header">CLAVE</f:facet>
                         <h:outputText value="#{column.clave}"/>
                     </p:column>

					<p:column
                         sortBy="#{column.nombre}"
                         filterMatchMode="contains"
                         filterBy="#{column.nombre}"
                         style="width: 50%; height: auto;">
                         <f:facet name="header">NOMBRE</f:facet>
                         <h:outputText value="#{column.nombre}"/>
                     </p:column> 
                     <p:column style="width:50%;height: auto;" headerText="Acciones" >
                         <p:commandButton
                             id="btnEditarRol" 
                             icon="ui-icon-clipboard"
                             styleClass="botonpequeno"
                             oncomplete="PF('rolDialog').show()"
                             value="Editar"
                             style="display:inline; float:left; font-size:x-small; width: 80px"
                               disabled="#{column.disable}" 
                             actionListener="#{viewRol.seleccionar(column)}" update=":formRoles">
                             <f:setPropertyActionListener
                                value="#{column}"
                                target="#{viewRol.beanSelected}" />
                         </p:commandButton>
                         <p:commandButton value="Borrar" actionListener="#{viewRol.deleteOneStr(column)}" 
		                      update=":formRoles"
		                      icon="ui-icon-scissors"
		                      styleClass="botonpequeno"
		                      style="display:inline; float:left; font-size:x-small; width: 80px"
		                      disabled="#{column.disable}"  
		                      immediate="true">                                	            
		                      <p:confirm header="Confirmación" message="Es de acuerdo en borrar este registro?"  actionListener="#{viewRol.deleteOneStr(column)}" icon="ui-icon-alert" update=":formRoles" />
		                </p:commandButton>
		                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		                	<p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"  update="formRoles"/>
							<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		                </p:confirmDialog> 
		                <p:commandButton
                             id="btnEditarRol1" 
                             icon="ui-icon-clipboard"
                             styleClass="botonpequeno"
                             oncomplete="PF('rolDialog').show()"
                             value="Ver Cambios"
                             style="display:inline; float:left; font-size:x-small; width:auto"
                               disabled="#{!(column.disable and (!column.actividad.equals('Por borrar')))}" 
                             actionListener="#{viewRol.seleccionar(column)}" update=":formRoles">
                             <f:setPropertyActionListener
                                value="#{column}"
                                target="#{viewRol.beanSelected}" />
                         </p:commandButton>
                         
                     </p:column>
                 </p:dataTable>
             </h:panelGrid>
             <p:dialog header="Información de Rol"         widgetVar="rolDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
		        <p:outputPanel id="rolDetail" style="text-align:center;">
		            <p:panelGrid  columns="2" rendered="#{not empty viewRol.beanSelected}" columnClasses="label,value">
		                <f:facet name="header">
		                    <h:outputText value="Detalle de Rol" /> 
		                </f:facet>
		                <h:outputText value="Clave: " />
		                <p:inputText value="#{viewRol.beanSelected.clave}"  style="width: 250px"  readonly="true" />
		                <h:outputText value="Nombre:" />
		                <p:inputText value="#{viewRol.beanSelected.nombre}" style="width: 250px" styleClass="botonpequeno"  />
		                <p:commandButton value="Guardar" update="formRoles" 
				                actionListener="#{viewRol.updateOneStr(viewRol.beanSelected.clave,viewRol.beanSelected)}"  icon="ui-icon-disk" oncomplete="PF('rolDialog').hide()"/>
		                <p:commandButton value="Cancelar"  icon="ui-icon-close" oncomplete="PF('rolDialog').hide()" styleClass="botonpequeno"/>
		            </p:panelGrid>
		        </p:outputPanel>
			    </p:dialog>
			    <p:dialog header="Inserte información de Rol" widgetVar="rolDialogNew" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
			        <p:outputPanel id="rolDetailNew" style="text-align:center;">
			             <p:panelGrid  columns="2"  columnClasses="label,value">
			                <f:facet name="header">
			                    <h:outputText value="Detalle de Rol" />
			                </f:facet>
			                <h:outputText value="Nombre:" />
			                <p:inputText value="#{viewRol.nombre}" style="width: 250px"  />
			                <p:commandButton value="Guardar" update="formRoles" 
				                actionListener="#{viewRol.insertOneStr(viewRol.nombre)}"  icon="ui-icon-disk" oncomplete="PF('rolDialogNew').hide()"/>
			                <p:commandButton value="Cancelar"  icon="ui-icon-close" oncomplete="PF('rolDialogNew').hide()" styleClass="botonpequeno"/>
			            </p:panelGrid>
			        </p:outputPanel>
			    </p:dialog>
			    <p:dialog header="Registros por autorizar a ser borrados" widgetVar="rolDialogBorr" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
			        <p:outputPanel id="rolDetailBorr" style="text-align:center;">
			             <p:panelGrid  columns="2"  columnClasses="label,value">
			                <f:facet name="header">
			                    <h:outputText value="Roles por ser borrados" />
			                </f:facet>
			                <p:pickList id="pickList1" value="#{viewRol.porBorrar}" var="porBorrar" itemLabel="#{porBorrar}" itemValue="#{porBorrar}" />
			                
			            </p:panelGrid>
			            <p:commandButton value="Borrar" update="formRoles" 
			                actionListener="#{viewRol.autoritationPorBorrar}"  icon="ui-icon-disk" oncomplete="PF('rolDialogBorr').hide()"/>
		                <p:commandButton value="Cancelar"  icon="ui-icon-close" oncomplete="PF('rolDialogBorr').hide()" styleClass="botonpequeno"/>
		                <p:commandButton value="Eliminar lista" update="formRoles" 
			                actionListener="#{viewRol.inAutoritationPorBorrar}"  icon="ui-icon-disk" oncomplete="PF('rolDialogBorr').hide()"/>
			        </p:outputPanel>
			    </p:dialog>
			    
			    <p:dialog header="Registros por autorizar a ser insertados" widgetVar="rolDialogInst" modal="true" 
			    showEffect="fade" hideEffect="fade" resizable="false"  style="display:inline; float:left; font-size:x-small; width:auto">
			        <p:outputPanel id="rolDetailInst" style="text-align:center;">
			             <p:panelGrid  columns="2"  columnClasses="label,value"  style="display:inline; float:left; font-size:x-small; width:auto">
			                <f:facet name="header">
			                    <h:outputText value="Roles por ser Insertados" />
			                </f:facet>
			                <p:pickList id="pickList2" value="#{viewRol.porInsertar}" var="porInsertar" itemLabel="#{porInsertar}" itemValue="#{porInsertar}" />
			                
			            </p:panelGrid>
			            <p:commandButton value="Insertar" update="formRoles" 
			                actionListener="#{viewRol.autoritationPorInsertar}"  icon="ui-icon-disk" oncomplete="PF('rolDialogInst').hide()"/>
		                <p:commandButton value="Cancelar"  icon="ui-icon-close" oncomplete="PF('rolDialogInst').hide()" styleClass="botonpequeno"/>
		                <p:commandButton value="Eliminar lista" update="formRoles" 
			                actionListener="#{viewRol.inAutoritationPorInsertar}"  icon="ui-icon-disk" oncomplete="PF('rolDialogInst').hide()"/>
			        </p:outputPanel>
			    </p:dialog>
			 </div>   
    	</h:form>
	</h:body>
</html>