<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html           xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >

	<h:head>
	</h:head>
	<h:body>
      	 <h3 style="margin-top:0">Roles</h3>
         <h:panelGrid columns="2" cellpadding="10"> 
             <h:form id="formRoles">
			    <h:outputText value="Edición de Rol" style="font-weight: bold; font-size: medium"/>
	            <hr class="ui-separator ui-state-default ui-corner-all separator"></hr>
	            <div align="center" >
	                <p:panelGrid  columns="2"   columnClasses="label,value">
		                <f:facet name="header">
		                    <h:outputText value="Detalle de Rol" /> 
		                </f:facet>
		                <h:outputText value="Clave: " />
		                <p:inputText value="#{viewRol.beanSelected.clave}"  style="width: 250px"  readonly="true" />
		                <h:outputText value="Nombre:" />
		                <p:inputText value="#{viewRol.beanSelected.nombre}" style="width: 250px"  />
		                <p:commandButton value="Guardar"     icon="ui-icon-disk" oncomplete="PF('rolDialog').hide()"/>
		                <p:commandButton value="Cancelar"  icon="ui-icon-close" oncomplete="location = '#{request.contextPath}/roles.xhtml';"/>
		            </p:panelGrid>
	            </div>
			</h:form>
    	</h:panelGrid>
    	
	</h:body>
</html>